body {
	width: 1920px;
	font-family: "PT Sans", sans-serif;
}
.page {
	background-color: #dcdcdc;
	height: 2300px;
}
.header_1 {
	min-height: 90px;
	background-color: #202846;
	display: inline-block;
	width: 100%;
	position: relative;
}
.logo {
	display: inline-block;
	text-align: left;
	position: relative;
	left: 138px;
	top: 10px;
}
.imgline {
	display: inline-block;
	padding-left: 50px;
	position: relative;
	top: 20px;
}
.menu {
	font-size: 24px;
	font-weight: 700;
	text-align: right;
	vertical-align: top;
	display: inline-block;
	color: white;
	position: relative;
	left: 293px;
}
.menu_privat {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	vertical-align: top;
	width: 260px;
	overflow: visible;
	display: inline-block;
	color: white;
	position: relative;
	left: 290px;
}
.menu_ua {
	display: inline-block;
	text-align: right;
	font-size: 24px;
	font-weight: 700;
	color: #ffffff;
	width: 60px;
	vertical-align: top;
	text-align: center;
	position: relative;
	top: 30px;
	left: 410px;
}
.globe {
	display: inline-block;
	text-align: right;
	font-size: 24px;
	font-weight: 700;
	color: #ffffff;
	box-sizing: border-box;
	position: relative;
	top: 5px;
	left: 410px;
}
.header_2 {
	min-height: 7%;
	background-color: #c6c6dc;
	display: inline-block;
	font-size: 48px;
	width: 100%;
	font-style: italic;
	font-weight: 400;
	line-height: 62px;
	text-align: left;
	padding-left: 227px;
	padding-top: 30px;
	box-sizing: border-box;
}
.location {
	margin-bottom: 100px;
}
.location_1,
.location_2,
.location_3,
.location_4
 {
	min-height: 300px;
	max-height: 360px;
	position: relative;
	left: 8%;
	top: 166px;
	background-color: #bdbdc6;
	display: inline-block;
	width: 76%;
}
.subtitle {
	color: #353c57;
	font-size: 36px;
	font-style: italic;
	font-weight: 700;
	position: relative;
	display: block;
	top: -210px;
	left: 720px;
	text-align: left;
}
.img {
	position: relative;
	top: 40px;
	left: 130px;
	display: block;
}
.text {
	color: #202846;
	font-size: 22px;
	font-weight: 400;
	text-align: left;
	background-color:#D7D7DD;
	width: 670px;
	min-height: 140px;
	position: relative;
	left: 720px;
	top: -210px;
	padding: 10px;
	box-sizing: border-box;
}
.loc_line {
	color: 3px solid #FFFFFF;
	width: 670px;  
	text-align: left;
	display: table-cell;
 }
 .star {
	width: 50px;  
	position: relative;
	left: 1390px;
	bottom: 270px;
	fill:none
 }
 .star1 {
	width: 50px;  
	position: relative;
	left: 1390px;
	bottom: 270px;
	fill:crimson;
	color: coral;
 }
 .star1:hover {    
	fill:;
 }
 .details{
	width: 250px;
	height: 50px;
	background-color: #202846;
	display: inline-block;
	border-radius: 50px;
	box-sizing: border-box;  
	font-weight: 400;
	font-size: 205x;
	color: white;
	text-align: center;
	vertical-align: middle;
	padding: 5px 20px 5px 20px;
	position: absolute;
	top: 240px;
	left: 1240px;
	z-index: 14;  
 }
 .loc_link {
	text-decoration: none;
	color: white;
 }
 .top{
	width: 101px;
	height: 101px;       
	position: absolute;
	bottom: -550px;
	left: 1760px;
	z-index: 15;  
 }
 .footer {
	min-height: 5%;
	background-color: #202846;
	color: #FFFFFF;
	display: inline-block;
	width: 100%;
	font-size: 36px;
	font-weight: 400;
	font-style: italic;
	padding-top: 21px;
	padding-left: 60px;
	box-sizing: border-box;
 }

