body {
	font-family: "Inika", sans-serif;
	font-weight: 700;
}

.h1 {
	margin: 72px 0;
	font-size: 48px;
	font-weight: 700;
}
.line {
	width: 361px;
	border-bottom: 5px solid #3e45e8;
}
.h1_low {
	text-align: center;
}
.line_low {
	width: 568px;
}
.header {
	max-height: 110px;
	min-height: 50px;
	text-align: center;
	color: #3e45e8;
	font-family: "M PLUS 1", sans-serif;
	font-weight: 400;
	font-size: 48px;
	letter-spacing: 0.1em;
	padding: 30px 0;
}
.header-span {
	color: #e8c23e;
}
.banner {
	background-image: url(../img/Kamyanets_img.png);
	width: 100%;
	height: 852px;
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
	padding-top: 195px;
	padding-left: 80px;
}
.content {
	height: 302px;
	background-image: url(../img/flag.png);
	background-repeat: no-repeat;
	font-size: 48px;
	line-height: 157%;
	color: white;
	box-sizing: border-box;
	padding-left: 30px;
}
.main {
	padding: 0 80px;
}
.card {
	border: 1px solid rgb(249, 244, 244);
	width: 28%;
	min-height: 481px;
	color: #030303;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	border-radius: 30px;
	box-shadow: 0px 4px 57px 3px #00000040;
}
.card__image {
	width: 100%;
}
.card_margin {
	margin: 0 4.5%;
}
.card__title {
	font-size: 24px;
	font-weight: 700;
	padding: 10px;
	box-sizing: border-box;
	color: #1e8df2;
}
.card__subtitle {
	font-size: 24px;
	font-weight: 400;
	color: #e8c23e;
	padding: 10px;
	box-sizing: border-box;
}
.card_hand {
	padding-left: 162px;
	width: 87px;
	display: inline;
}
.support {
	min-width: 591px;
	min-height: 121px;
	background-color: #2a61f0;
	color: white;
	font-size: 64px;
	font-weight: 700;
	line-height: 101px;
	letter-spacing: 0em;
	margin: 5% 25%;
	padding: 10px 92px;
	box-sizing: border-box;
}
.footer {
	background-color: #2f4a4b;
}
.footer_container {
	text-align: center;
	margin: 5% 25%;
}
.footer_title {
	font-family: M PLUS 1;
	font-size: 48px;
	font-weight: 400;
	line-height: 70px;
	letter-spacing: 0.1em;
}
.footer_email,
.footer_phone {
	font-family: Marcellus SC;
	font-size: 36px;
	font-weight: 400;
	line-height: 45px;
	letter-spacing: 0.1em;
	text-align: center;
	color: #a89d9d;
	margin: 21px 0;
}

.footer_instagram,
.footer_twitter,
.footer_facebook,
.footer_telegram {
	display: inline-block;
	text-align: justify;
	margin: 0 0 21px 0;
}
