body {
	max-width: 1600px;
}
body,
ul {
	margin: 0;
	padding: 0;
	background-color: #212529;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 48px;
	font-family: "Poppins", sans-serif;
}
.nav {
	list-style: none;
	display: flex;
}
li.nav_item > a,
.hireme_btn {
	text-transform: capitalize;
	text-decoration: none;
	color: white;
	padding: 25px 12.5px;
	box-sizing: border-box;
}
li.nav_item > a:active {
	font-size: 2rem;
	font-weight: 600;
}

li.nav_item > a:hover {
	color: #ffb742;
	transition: all 0.4s;
}
.hireme_btn {
	color: #212529;
	padding: 12px 26px;
	background-color: #ffb742;
	border-radius: 50px;
	font-weight: 700;
	display: inline-block;
	width: 150px;
	text-align: center;
}
.presentation {
	display: flex;
	justify-content: space-between;
	padding: 0 238px;
	flex-direction: column;
	font-family: "Inter", sans-serif;
	text-align: center;
}
.presentation_list {
	list-style: none;
	color: white;
	text-transform: capitalize;
	line-height: 2;
}
.line_1 {
	font-size: 32px;
	font-weight: 700;
}
.line_2 {
	font-size: 48px;
	font-weight: 700;
}
.line_3 {
	font-size: 24px;
	font-weight: 700;
}
.line_4 {
	width: 210px;
	display: inline-block;
	border-radius: 100%;
	overflow: hidden;
	background-image: url(../img/Circle.png);
	background-position: 8px 30px;
	background-repeat: no-repeat;
}
.kartik {
	text-decoration: underline;
	color: #ffb742;
}
.expert {
	display: flex;
	justify-content: space-between;
	padding: 0 72px;
	flex-direction: column;
	margin-top: 125px;
	font-family: "Inter", sans-serif;
	text-align: center;
	margin-bottom: 137px;
}
.expert_list {
	list-style: none;
	color: white;
	text-transform: capitalize;
	line-height: 2;
	display: flex;
	justify-content: center;
}
.list_years,
.list_clients {
	background-color: #292b2e;
	width: 416px;
	height: 120px;
	border-radius: 10px;
	display: flex;
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 16px;
	padding: 25px;
	box-sizing: border-box;
	justify-content: space-between;
}
.list_projects {
	margin: 0 24px;
	background-color: #ffb742;
	width: 416px;
	height: 120px;
	padding: 25px;
	border-radius: 10px;
	font-family: "Inter", sans-serif;
	color: black;
	font-weight: 700;
	font-size: 16px;
	display: flex;
	padding: 25px;
	box-sizing: border-box;
	justify-content: space-between;
}
.title_list {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.list_subtitle {
	color: #ffb742;
	font-weight: 700;
	font-size: 32px;
}
.subtitle_2 {
	color: black;
}
.right {
	width: 30px;
	height: 70px;
}
.icon {
	width: 64px;
	height: 64px;
}
.aboutme {
	display: flex;
	margin-top: 150px;
	flex-direction: inherit;
	padding: 0 50px;
}
.aboutme_story {
	margin-top: 70px;
}
.whoami {
	background: rgba(255, 255, 255, 0.08);
	color: #ffb742;
	padding: 12px 26px;
	border-radius: 50px;
	max-width: 150px;
	text-transform: uppercase;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	text-align: center;
	margin-bottom: 17px;
}
.aboutme_title {
	font-family: Roboto;
	font-size: 48px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
	color: white;
	max-width: 213px;
}
.aboutme_text {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	padding: 29px 50px 29px 0px;
	color: white;
	margin: 0px 50px 0px 0px;
}
.portfolio {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin-top: 64px;
	margin-bottom: 30px;
	text-align: center;
	padding: 0px 72px;
}
.portfolio_title {
	background: rgba(255, 255, 255, 0.08);
	color: #ffb742;
	padding: 12px 26px;
	border-radius: 50px;
	max-width: 200px;
	text-transform: uppercase;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	text-align: center;
	margin-left: 42%;
	margin-bottom: 16px;
}
.portfolio_subtitle {
	font-family: Roboto, sans-serif;
	font-size: 48px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
	color: white;
	margin: 0px 439px 0px 462px;
}
.portfolio_nav {
	display: flex;
	justify-content: space-between;
	padding: 0 352px;
	flex-direction: row;
	margin-top: 55px;
	text-align: center;
	list-style: none;
	color: #ffffff;
	font-weight: 600;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	margin-bottom: 55px;
}
.portfolio_nav_item {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 30px;
	text-align: center;
}
.pni_1 {
	color: black;
	background-color: #ffb742;
	border-radius: 3px;
	padding: 5px 20px;
}
.portfolio_works {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	list-style: none;
	text-align: center;
	padding: 0px 130px;
}
.footer_container {
	background-color:#1C1C1C;
}
.footer {
	display: flex;
	justify-content:space-between;
	flex-direction: row;
	align-items: flex-start;
}
.footer_col_left {
	display: flex;
	justify-content:center;
	flex-direction: column;
	paddin: 0px 0px 40px 0px;
	margin-top: 30px;
	margin-left: 160px;
	text-align: left;
	list-style: none;
	background-color:#1C1C1C;
}
.footer_col_1 {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0px 0px;
	margin-top: 30px;
	text-align: left;
	list-style: none;
	text-decoration: none;
	background-color:#1C1C1C;
}
.footer_title_left {
	color: #ffb742;
	border-radius: 50px;
	text-transform: uppercase;
	font-family: "Poppins", sans-serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 32px;
	text-align: left;
	padding-bottom: 40px;
}
.footer_text_left {
	font-family: Work Sans, sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 32px;
	text-align: left;
	color: white;
}
.footer_text_head {
	font-family: Work Sans, sans-serif;
	font-size: 22px;
	font-weight: 700;
	line-height: 32px;
	text-align: left;
	color: white;
}
.footer_text {
	font-weight: 500;
	font-size: 18px;
	font-family: "Work Sans", sans-serif;
	color: #7b7b7b;
}
.col_right {
	margin-right: 50px;
}
